POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=tu_base
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}

CHECKPOINT_DISABLE=1
PRISMA_HIDE_UPDATE_MESSAGE=1

JWT_SECRET=cambiame_por_una_cadena_larga_y_aleatoria